* {
    margin: 0;
    list-style: none;
}

body {
    background: #DDE1E7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin: 80px;
    height: 100px;
    width: 100px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 59px;
    background: linear-gradient(145deg, #ecf1f7, #c7cbd0);
    box-shadow: 9px 9px 18px #b7bbc0, -9px -9px 18px #ffffff;
}

li:hover {
    cursor: pointer;
    border-radius: 59px;
    background: #DDE1E7;
    box-shadow: inset 9px 9px 18px #b7bbc0, inset -9px -9px 18px #ffffff;
}

i {
    font-size: 3em;
}

li:nth-child(1) i {
    color: #3B5998;
}

li:nth-child(2) i {
    color: #833AB4;
}

li:nth-child(3) i {
    color: #25D366;
}

li:nth-child(4) i {
    color: #C4302B;
}

li:nth-child(5) i {
    color: #2977df;
}

li:nth-child(6) i {
    color: #dfbe29;
}

li:nth-child(7) i {
    color: #276100;
}

li:nth-child(8) i {
    color: #006381;
}

li:nth-child(9) i {
    color: #740000;
}

/* Commentaire test 1*/